:root {
  --primary-color: #ff6347;
  --secondary-color: #2c3e50;
  --light-color: #ffeaa3;
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-radius: 8px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background-color);
  /* font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.pizza-app {
  background: white;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.size-selector,
.toppings-selector,
.summary-box {
  margin-bottom: 20px;
}

.size-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.topping-options {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.size-option,
.topping-option {
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.topping-option {
  width: 100%;
}

.size-option input {
  display: none;
}

.topping-option input {
  padding: 2px;
}

.size-option.selected,
.topping-option:hover {
  background: var(--primary-color);
}

.checkall {
  background: var(--light-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.summary-box {
  background: var(--background-color);
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: right;
}

.total-cost {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-top: 10px;
}
