:root {
  --font-family: "Afacad", "Afacad Placeholder", sans-serif;
  --font-family-numbers: "Poppins", "Poppins Placeholder", sans-serif;
  --font-family-shopinfo: "Montserrat", "Montserrat Placeholder", sans-serif;
  --font-family-button: Inter-Medium, Inter, "Inter Placeholder", sans-serif;
  
  --primary-color: #ff6347;
  --secondary-color: #2c3e50;
  --color-bg: #142332;
  --background-color: #f4f4f4;
  --text-color: #333;
  
  --color-prime: #4170e8;
  --color-white: #f2f2f2;
  
  --color-text: #3791AF;
  
  --border-radius: 0px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  width: 100%;
}

/* BACKGROUND SETTINGS */
.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgb(255, 197, 163) 0%,
    rgb(72, 158, 230) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgb(255, 197, 163) 0%,
    rgb(72, 158, 230) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgb(255, 197, 163) 0%,
    rgb(72, 158, 230) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgb(255, 197, 163) 0%,
    rgb(72, 158, 230) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgb(255, 197, 163) 0%,
    rgb(72, 158, 230) 25%
  );
}